/** ================================================================================================================= *  *                                                                                                                   *  *           Flexbox navigation styles
  *
  *   1.  Header styles is strictly for the <header> element and items with .fn-header class
  *   2.  Navigation styles is strictly for the <nav> and <ul> items with .fn-nav class
  *
  *   Cory Dowdy March 10th, 2015
  *                                                                                                                   * \* ================================================================================================================= */
/* removes delay in dropdown on windows phone 8.1*/
/* also know as the 300ms delay for touch devices */
html {
  touch-action: manipulation; }

html,
body {
  height: 100%;
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/* below here is used in the demo page only */
div,
ul,
li,
h1,
p {
  margin: 0;
  padding: 0; }

footer,
main {
  display: block; }

/* visually hide content */
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/* hide content from the screen and screen readers */
/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */
.hidden {
  display: none;
  visibility: hidden; }

/* skip to content link */
/* http://webaim.org/techniques/css/invisiblecontent/#skipnavlinks */
.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
  .skip-link:focus {
    position: static;
    width: auto;
    height: auto; }

/* flexnav header "container" */
.fn-header {
  display: block;
  visibility: visible;
  background: #333;
  min-width: 100%;
  padding: 0.3125rem 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .fn-header:before, .fn-header:after {
    content: " ";
    display: table; }
  .fn-header:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .fn-header {
      height: 6.25em;
      padding: 0.9375rem 0; } }

.fn-header__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.9375rem;
  height: 100%; }
  @media screen and (min-width: 50em) {
    .fn-header__title-container {
      display: none;
      visibility: hidden; } }

/* header site title */
.fn-header__name {
  color: #ECF0F1;
  margin-right: auto;
  font-size: 1.5625rem; }
  @media screen and (max-width: 14.813em) {
    .fn-header__name {
      font-size: 15px;
      font-size: 0.9375rem; } }
  @media screen and (min-width: 14.875em) and (max-width: 18.688em) {
    .fn-header__name {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media screen and (max-width: 9.375em) {
    .fn-header__name {
      display: none;
      visibility: hidden; } }

.fn-header__button {
  background: none;
  border: 0.125rem solid;
  color: #ECF0F1;
  font-size: 4.5vw; }
  .fn-header__button:hover,
  .fn-header__button:focus {
    background-color: #81cfe0;
    color: #1c2833;
    border: 0.125rem solid #ECF0F1; }
  @media screen and (max-width: 9.375em) {
    .fn-header__button {
      margin: auto; } }

/* html5 <nav> element... holds the navigation list */
.fn-nav-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #333;
  padding: 0.5rem;
  max-height: 0;
  display: none;
  visibility: hidden; }
  @media screen and (min-width: 50em) {
    .fn-nav-container {
      display: block;
      visibility: visible;
      max-width: 100%;
      max-height: 100%; } }

.fn-nav-container.is-open {
  visibility: visible;
  height: auto;
  display: block;
  max-height: 800px; }

/* navigation unordered list */
.fn-navigation {
  list-style: none;
  background-color: #333;
  display: none;
  visibility: hidden; }
  @media screen and (min-width: 50em) {
    .fn-navigation {
      display: flex;
      visibility: visible;
      max-width: 80%;
      margin: auto;
      justify-content: space-around;
      align-items: center; } }

/* navigation list is open */
.fn-navigation.is-open {
  display: flex;
  flex-direction: column;
  visibility: visible; }

/* navigation list item */
.fn-navigation__item {
  padding: 0.3125rem 0; }
  .fn-navigation__item:focus {
    outline: 1px solid #81cfe0; }

.fn-navigation__item a {
  color: #ECF0F1;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 0.9375rem 1.25rem; }
  .fn-navigation__item a:hover,
  .fn-navigation__item a:focus,
  .fn-navigation__item a:active {
    background-color: #81cfe0;
    color: #1c2833;
    outline: 1px solid #81cfe0; }

/**
  *
  * classes for browsers that dont support
  * 1) Media Queries
  * 2) Flexbox
  * Currently using This Modernizr version
  * http://modernizr.com/download/#-flexbox-flexboxlegacy-shiv-mq-cssclasses-teststyles-testprop-testallprops-domprefixes-css_mediaqueries
  *
  */
@media screen and (min-width: 50em) {
  .no-flexbox .fn-navigation {
    display: block;
    visibility: visible;
    text-align: center;
    margin-top: 0.9375rem; } }

@media screen and (min-width: 50em) {
  .no-flexbox .fn-navigation__item {
    display: inline; } }

.no-mediaqueries .fn-header {
  display: block;
  visibility: visible;
  height: 6.25em;
  padding: 0.9375rem 0; }
  .no-mediaqueries .fn-header:before, .no-mediaqueries .fn-header:after {
    content: " ";
    display: table; }
  .no-mediaqueries .fn-header:after {
    clear: both; }

/* remove the site title and menu button */
.no-mediaqueries .fn-header__title-container {
  display: none;
  visibility: hidden; }

/* dont display checkbox unless js isn't available */
.no-mediaqueries .fn-navTrigger__no-js {
  display: none;
  visibility: hidden; }

.no-mediaqueries .fn-nav-container {
  display: block;
  visibility: visible;
  max-width: 100%;
  max-height: 100%; }

.no-mediaqueries .fn-navigation {
  display: block;
  visibility: visible;
  text-align: center;
  margin-top: 2%; }

.no-mediaqueries .fn-navigation__item {
  display: inline;
  padding: 0.9375rem 1.25rem; }

.fn-navTrigger__no-js {
  display: none;
  visibility: hidden; }

@media screen and (max-width: 49.9375em) {
  .no-js .fn-header__button {
    display: none;
    visibility: hidden; }
  .no-js .fn-navTrigger__no-js {
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
    top: 1.5%;
    right: 80%;
    left: 90%; }
  .no-js .fn-navTrigger__no-js:checked ~ .fn-nav-container {
    display: block;
    background: #333;
    height: auto;
    max-height: 800px; }
    .no-js .fn-navTrigger__no-js:checked ~ .fn-nav-container .fn-navigation {
      display: inline;
      visibility: visible; }
  .no-js label[for="fn-noJs"] {
    position: absolute;
    top: 1.5%;
    left: 75%;
    color: #ECF0F1;
    width: 4.6875rem;
    height: 1.875rem;
    cursor: pointer;
    background: transparent url("../img/menu.png") center no-repeat; } }

/*# sourceMappingURL=navigation.unprefixed.css.map */