html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

div, ul, li, h1, p {
  margin: 0;
  padding: 0; }

body {
  background: #f8f8f8;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

/* visually hide content */
.visually-hidden {
  /*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/* hide content from the screen and screen readers */
/* http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/ */
.hidden {
  display: none;
  visibility: hidden; }

/* skip to content link */
/* http://webaim.org/techniques/css/invisiblecontent/#skipnavlinks */
.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }
  .skip-link:focus {
    position: static;
    width: auto;
    height: auto; }

p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }

/* Menu Button Container */
.header-nav--menu-container {
  display: flex;
  visibility: visible;
  background: #333;
  min-width: 100%;
  height: 3.125em;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0.4375rem 0.3125rem; }
  @media screen and (min-width: 50em) {
    .header-nav--menu-container {
      display: none;
      visibility: hidden; } }

.button--header-nav {
  background: none;
  border-width: 0.125rem;
  border-style: solid;
  padding: 0.25rem 0.375rem;
  margin-top: auto;
  margin-right: 0.625rem;
  margin-left: auto;
  margin-bottom: auto;
  align-self: flex-end;
  color: #ECF0F1; }
  .button--header-nav:hover, .button--header-nav:focus {
    background-color: #81cfe0;
    color: #1c2833; }

.header-navigation {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #333; }

.navigation {
  display: none; }
  @media screen and (min-width: 50em) {
    .navigation {
      display: flex;
      height: 6.25rem;
      list-style: none;
      justify-content: center;
      align-items: center; } }

.no-flexbox .navigation {
  display: table;
  margin: 0 auto;
  list-style: none; }
.no-flexbox .navigation--item {
  display: table-cell;
  width: 100px;
  text-align: center;
  vertical-align: middle; }

.navigation.open {
  display: flex;
  flex-direction: column;
  background: #333;
  width: 100%;
  overflow: hidden;
  margin-left: 0;
  list-style: none; }

.navigation--item {
  padding: 0.9375rem 1.25rem; }
  .navigation--item:focus {
    outline: 1px solid #81cfe0; }
  .navigation--item:hover, .navigation--item:focus, .navigation--item:active {
    background-color: #81cfe0; }
    .navigation--item:hover a, .navigation--item:focus a, .navigation--item:active a {
      color: #1c2833; }
  .navigation--item a {
    color: #ECF0F1;
    line-height: inherit;
    text-decoration: none; }
    .navigation--item a:hover, .navigation--item a:focus, .navigation--item a:active {
      background-color: #81cfe0;
      color: #1c2833;
      outline: 1px solid #81cfe0; }

/* Navigation Menu Button */
.navigation--menuBtn {
  color: #ECF0F1;
  margin-left: auto; }

.header-nav-name {
  color: #ECF0F1;
  align-self: flex-start;
  margin-top: 0;
  font-size: 1.5625rem;
  padding-left: 0.625rem; }
  @media screen and (max-width: 14.813em) {
    .header-nav-name {
      font-size: 0.9375rem; } }
  @media screen and (min-width: 14.875em) and (max-width: 18.688em) {
    .header-nav-name {
      font-size: 1.125rem; } }

/* =============[   For Demo Purposes   ]=============*/
/* give the site a "sticky footer" */
.main {
  width: 100%;
  padding: 0.625em 0.938em;
  margin-top: 0.938em; }
  @media screen and (min-width: 50em) {
    .main {
      padding: 0.625em 1.875em; } }

/*# sourceMappingURL=navigation.03-02-2015.unprefixed.css.map */