/* =============[   For Demo Purposes   ]=============*/

main,
footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
}
.content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

.demo-list,
.demo-list-sub {
  list-style: none;
}
