
/* =============[   For Demo Purposes   ]=============*/

body {
  background: $body-bg;
  color: $body-color;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-style: $font-weight-normal;
  line-height: $base-line-height;
  position: relative;
  cursor: auto;
}


main,
footer {
  width: 100%;
  margin: 0 auto;
  max-width: 68.75rem;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

main {
  padding-top: rem-calc(20);
}

footer {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(30);
}
.content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

.demo-list,
.demo-list-sub {
  list-style: none;
}

.contact-list {
  margin: 0 0 rem-calc(17) rem-calc(-22);
  padding: 0;
  list-style: none;
  overflow: hidden;

  > li {
    float: left;
    margin-left: rem-calc(22);
  }
}
