
//  This may promote the layer to a composited
//  layer.
//  Replace with will-change when available
@mixin promote-layer() {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin border-button() {
    background: none;
    border: rem-calc(2) solid;
}

// clearfix to clear floats
@mixin clearfix {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

// visually hide from screen but show to screen readers
@mixin hide-visually() {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


// mixin to hide from screen and screen readers... or use the placeholder class in base/_a11y.scss
@mixin hide-screen-readers() {
    display: none;
    visibility: hidden;
}

// create a skip link
@mixin skip-link() {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}




