/* flexnav header "container" */
.fn-header {
  display: flex;
  visibility: visible;
  background: $header-bg-color;
  min-width: 100%;
  height: 3.125em;
  justify-content: center;
  @include promote-layer();
  padding: rem-calc(7) rem-calc(5);
  @media screen and (min-width: 50em) {
    @include hide-screen-readers();
  }
}

.no-js {
  .fn-header {
    justify-content: flex-start;
  }
}

// site name / title
/* header site title */
.fn-header__name {
  color: $header-nav-link-color;
  align-self: flex-start;
  margin-top: 0;
  font-size: rem-calc(25);
  padding-left: rem-calc(10);
  @media screen and (max-width: 14.813em) {
    font-size: 15px;
    font-size: rem-calc(15);
  }
  @media screen and (min-width: 14.875em) and (max-width: 18.688em) {
    font-size: 18px;
    font-size: rem-calc(18);
  }
}


/* Navigation Menu Button */
.fn-header__button {
  @include border-button();
  padding: rem-calc(4) rem-calc(6);
  margin: auto rem-calc(10) auto auto;
  align-self: flex-end;
  color: $header-nav-link-color;


  &:hover, &:focus {
    background-color: $header-nav-list-item-bg-hover;
    color: $header-nav-anchor-color-hover;
  }
}

/**
  *
  * classes for browsers that dont support
  * 1) Media Queries
  * 2) Flexbox
  * Currently using This Modernizr version
  * http://modernizr.com/download/#-flexbox-flexboxlegacy-shiv-mq-cssclasses-teststyles-testprop-testallprops-domprefixes-css_mediaqueries
  *
  */

/* no media query support */
.no-mediaqueries .fn-header {
  @include hide-screen-readers();
}


/* No Flexbox Support */
.no-flexbox {
  // for the header nav with button and site title
  @media screen and (max-width: 49.9375em) {
    .fn-header {
      display: block;

      .fn-header__name {
        float: left;
      }

      .fn-header__button {
        float: right;
      }

      @include clearfix();
    }
  }
}



