// =====================================================================================================================
//    _    _                _              _____ _         _
//   | |  | |              | |            / ____| |       | |
//   | |__| | ___  __ _  __| | ___ _ __  | (___ | |_ _   _| | ___  ___
//   |  __  |/ _ \/ _` |/ _` |/ _ \ '__|  \___ \| __| | | | |/ _ \/ __|
//   | |  | |  __/ (_| | (_| |  __/ |     ____) | |_| |_| | |  __/\__ \
//   |_|  |_|\___|\__,_|\__,_|\___|_|    |_____/ \__|\__, |_|\___||___/
//                                                    __/ |
//                                                   |___/
// =====================================================================================================================

/* flexnav header "container" */
.fn-header {
  display: block;
  visibility: visible;
  background: $header-bg-color;
  min-width: 100%;
  padding: $header-padding;
  @include promote-layer();
  @include clearfix();
  @media screen and (min-width: 50em) {
    height: $big-header-height; // 100px
    padding: $big-header-padding; // 15px 0
  }
}

.fn-header__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem-calc(15);
  height: 100%;
  // @800px hide the title container ( name and menu button )
  @media screen and (min-width: 50em) {
    @include hide-screen-readers();
  }
}

/* header site title */
.fn-header__name {
  color: $header-nav-link-color;
  margin-right: auto;
  font-size: rem-calc(25);
  @media screen and (max-width: 14.813em) {
    font-size: 15px;
    font-size: rem-calc(15);
  }
  @media screen and (min-width: 14.875em) and (max-width: 18.688em) {
    font-size: 18px;
    font-size: rem-calc(18);
  }
  // @150px remove the name and keep the menu .fn-header__button on the screen
  @media screen and (max-width: 9.375em) {
    @include hide-screen-readers();
  }
}

.fn-header__button {
  @include border-button();
  color: $header-nav-link-color;
  font-size: 4.5vw; // maybe viewport widths isnt' the way to go here?
  &:hover,
  &:focus {
    background-color: $header-nav-list-item-bg-hover;
    color: $header-nav-anchor-color-hover;
    border: rem-calc(2) solid $header-nav-link-color;
  }
  // @ 150px center the button in the header
  @media screen and (max-width: 9.375em) {
    margin: auto;
  }
}