/**
  *
  * classes for browsers that dont support
  * 1) Media Queries
  * 2) Flexbox
  * Currently using This Modernizr version
  * http://modernizr.com/download/#-flexbox-flexboxlegacy-shiv-mq-cssclasses-teststyles-testprop-testallprops-domprefixes-css_mediaqueries
  *
  */

// Header Styles from scss/layout/_header.scss L#16
/* no media query support */

.no-mediaqueries .header-nav--menu-container {
  @include hide-screen-readers();
}

// From scss/layout/_navigation.scss L#7
/* No Flexbox Support */

.no-flexbox {
  // hide nav list on small screens that don't support flexbox
  .navigation {
    display: none;
  }

  // make it a block level element once clicked
  .navigation.open {
    display: block;
  }
  // make nav items block element instead of table cell on small screens
  .navigation--item  {
    display: block;
    width: 100%;
  }

  // for the header nav with button and site title
  .header-nav--menu-container {
    display: block;

    .header-nav-name {
      float: left;
    }

    .button--header-nav {
      float: right;
    }

    @include clearfix();
  }

  // Min width: 800px
  @media screen and (min-width: 50em) {
    // to center nav list make it a table for non flexbox desktop browsers
    .navigation {
      display: table; // was display: flex-box
      margin: 0 auto;
      list-style: none;
    }

    // center text vertically and horizontally in table cell
    .navigation--item {
      display: table-cell; // make table cell for centered nav
      width: 100px;
      text-align: center;
      vertical-align: middle;
    }
  }

}

