// =====================================================================================================================
//
//    _   _             _             _   _                _____ _         _
//   | \ | |           (_)           | | (_)              / ____| |       | |
//   |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __   | (___ | |_ _   _| | ___  ___
//   | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \   \___ \| __| | | | |/ _ \/ __|
//   | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |  ____) | |_| |_| | |  __/\__ \
//   |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_| |_____/ \__|\__, |_|\___||___/
//                         __/ |                                      __/ |
//                        |___/                                      |___/
//
// =====================================================================================================================

/* html5 <nav> element... holds the navigation list */
.fn-nav-container {
  @include promote-layer();
  background-color: $header-bg-color;
  padding: rem-calc(8);
  max-height: 0;
  @include hide-screen-readers();
  @media screen and (min-width: 50em) {
    display: block;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
  }
}

// nav container is hidden under 800px. is-open class shows the menu.
.fn-nav-container.is-open {
  visibility: visible;
  height: auto;
  display: block;
  max-height: 800px;
}

/* navigation unordered list */
.fn-navigation {
  list-style: none;
  background-color: $header-bg-color;
  @include hide-screen-readers();
  @media screen and (min-width: 50em) {
    display: flex;
    visibility: visible;
    max-width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
  }
}

/* navigation list is open */
.fn-navigation.is-open {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

/* navigation list item */
.fn-navigation__item {
  padding: rem-calc(15) rem-calc(20);
  &:focus {
    outline: 1px solid $header-nav-list-item-bg-hover;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $header-nav-list-item-bg-hover;
    a {
      color: $header-nav-anchor-color-hover;
    }
  }
}

// for anchor links inside the unordered list in the <nav> element
.fn-navigation__item {
  a {
    color: $header-nav-link-color;
    line-height: inherit;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      background-color: $header-nav-list-item-bg-hover;
      color: $header-nav-anchor-color-hover;
      outline: 1px solid $header-nav-list-item-bg-hover;
    }
  }
}