html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

/* below here is used in the demo page only */
div,
ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
}

// reset for footer and main
footer,
main {
  display: block;
}



